@font-face {
    font-family: 'NewCicleItalic';
    src: url('assets/fonts/New_Cicle_Fina_Italic-webfont.ttf');
}
@font-face {
    font-family: 'NewCicle';
    src: url('assets/fonts/New_Cicle_Fina-webfont.ttf');
}

h1, h2, .important {
    color: #A5B5F9; 
    margin: 10px;
}

body {
    font-family:'NewCicle';
    color: white;
    background-color:#1F2039;
    margin: 0;
}

h1 {
    font-size: 200%;
}

a {
    color: black;
    text-decoration: none;
}

a:focus {
    font-weight: bold;
}

a:hover {
    color:#A5B5F9;
}

header, footer {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
}

.main-christine {
    min-height: calc(100vh - calc(123px + 79px));
    margin: 10px;
}

.nav-items {
    display: flex;
    align-items: flex-end;
}

header {
    display: flex;
    flex-direction: row;
}