@font-face {
    font-family: 'NewCicleItalic';
    src: url('assets/fonts/New_Cicle_Fina_Italic-webfont.ttf');
}
@font-face {
    font-family: 'NewCicle';
    src: url('assets/fonts/New_Cicle_Fina-webfont.ttf');
}

h1, h2, .important {
    /*Petit commentaire*/
    color: #A5B5F9;
}

body {
    font-family:'NewCicle';
    color: white;
    background-color: #1F2039;
}

h1 {
    font-size: 200%;
}

a {
    color: white;
    text-decoration: none;
}

a:focus {
    font-weight: bold;
}

a:visited {
    color:#A5B5F9;
}

p {
    box-shadow: 5px 5px 5px #A5B5F9;
    text-align: justify;
}

header, footer {
    background-color: white;
    padding: 10px;
    margin: 0px;
}