@font-face {
    font-family: 'NewCicle';
    src: url('assets/fonts/New_Cicle_Fina_Italic-webfont.ttf') format("ttf");
}

h1, h2 {
    /*Petit commentaire*/
    color: #663399;
    font-style: italic;
    font-family: 'NewCicle';
}

h1 {
    font-size: 200%;
}

p, ul {
    color: #663399;
}

a {
    color: black;
}

.important {
    color: #a5b4fc;
}
